@page "/portfolio"

<div class="" id="">
	<h5>
		<span><b>종목명</b></span>
		<span>종목코드</span>
	</h5>
	<table class="table">
		<thead>
			<tr class="">
				<th scope="col"><div></div></th>
				<th scope="col"><div>2017/12</div></th>
				<th scope="col"><div>2018/12</div></th>
				<th scope="col"><div>2019/12</div></th>
				<th scope="col"><div>2020/03</div></th>
				<th scope="col"><div>2020/06</div></th>
				<th scope="col"><div>2020/09</div></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row"><div>매출액</div></th>
				<td>2,395,754</td>
				<td>2,437,714</td>
				<td>2,304,009</td>
				<td>553,252</td>
				<td>529,661</td>
				<td>669,642</td>
			</tr>
		</tbody>
	</table>
</div>