.flex-container
{
	justify-content: left;
	padding: 1em;
	border: 2.75px ridge;
	border-color: #d7d7d7;
	border-style: solid;
}

.legend
{
	display: block;
	padding-left: 0.75em;
	padding-right: 0.75em;
	text-align: left;
	width: auto
}

.sub
{
	width: 100%;
	color: lightslategrey;
	cursor: pointer
}

.strategics
{
	color: midnightblue;
	width: 100%;
	font-size: 16px
}

.strategics_radio
{
	cursor: pointer;
	margin-left: 7px;
	vertical-align: -1px
}

.strategics_input
{
	background-color: transparent;
	color: dimgray;
	border: 0.75px ridge;
	border-style: solid;
	border-color: tan;
	font-size: small;
	width: 100%;
	height: 25px;
	text-align: end
}

	.strategics_input::placeholder
	{
		color: lightsteelblue;
		font-style: italic
	}

.strategics_table
{
	text-align: end;
	padding-right: 0.75em;
	vertical-align: middle;
	width: 15%
}

.search
{
	position: fixed;
	display: block;
	right: 25px;
	bottom: 41px;
}

.search_input
{
	background-color: transparent;
	color: dimgray;
	border: 0.75px ridge;
	border-style: solid;
	border-color: azure;
	font-size: small;
	width: 155px;
	height: 25px;
	text-align: center
}

	.search_input::placeholder
	{
		color: lightgrey;
		font-style: italic
	}

ul
{
	padding: 0;
	list-style-type: none
}

@media (max-width: 644px)
{
	.flex-container
	{
		justify-content: center;
		padding: 0.5em;
		border: none
	}
}

@media only screen and (min-width: 851px) and (orientation: landscape)
{
	.search
	{
		bottom: none;
		top: 77px;
	}
}
