@page
@model ShareInvest.Pages.TagsModel

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<link href="~/css/wordcloud.css" rel="stylesheet" />
	<script src="~/htmlwidgets-1.5.3/htmlwidgets.js"></script>
	<script src="~/wordcloud2-0.0.1/wordcloud2-all.js"></script>
	<script src="~/wordcloud2-0.0.1/hover.js"></script>
	<script src="~/wordcloud2-binding-0.2.2/wordcloud2.js"></script>
	<title>@(string.IsNullOrEmpty(Model.Title) ? "Tags" : Model.Title)</title>
</head>

<body>
	<div id="htmlwidget_container">
		@if (string.IsNullOrEmpty(Model.ID) is false)
		{
			<div id="htmlwidget-@Model.ID" class="wordcloud2 html-widget"></div>
			<script type="application/json" data-for="htmlwidget-@Model.ID">@System.Web.HttpUtility.UrlDecode(Model.Json)</script>
			<script type="application/htmlwidget-sizing" data-for="htmlwidget-@Model.ID">@Model.Size</script>
		}
	</div>
</body>

</html>