@page "/balance"

    <table class="table">
        <thead>
            <tr>
                <th>종목코드</th>
                <th>종목명</th>
                <th>수량</th>
                <th>매입가</th>
                <th>현재가</th>
                <th>평가손익</th>
                <th>손익률</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>

                </td>
            </tr>
        </tbody>
    </table>

