@page "/download"
@inherits DownloadBase

<div class="page">
	<ul class="nav flex-column">
		<li class="href">
			<p class="explanation">
				Install the
				<a href="javascript:void(0)" @onclick="@(async () => await TryToDownloadAsync())" target="_blank" class="a_href">
					<span class="oi oi-cloud-download" aria-hidden="true" /> ‘Algorithmic Trading’s
				</a>
				client program.
			</p>
		</li>
		<li class="href">
			<p class="explanation">
				Download the
				<a href="https://chromedriver.chromium.org/downloads" target="_blank" class="a_href">
					<span class="oi oi-cloud-download" aria-hidden="true" /> Chromedriver－WebDriver for ‘Chrome’
				</a>
				&nbsp;that matches the version of the Chrome browser installed on Windows.
				<a class="a_image" href="https://codechacha.com/static/2caf8faa3a59e68b2b608da193eda965/f8067/chrome-version-information.png" target="_blank" rel="nofollow">
					<span class="gatsby-resp-image-wrapper">
						<span class="gatsby-resp-image-background-image">
							<img class="i_image" alt="chrome version information" title="[Menu → Help → About Google Chrome]" src="https://codechacha.com/static/2caf8faa3a59e68b2b608da193eda965/fcda8/chrome-version-information.png" srcset="https://codechacha.com/static/2caf8faa3a59e68b2b608da193eda965/12f09/chrome-version-information.png 148w, https://codechacha.com/static/2caf8faa3a59e68b2b608da193eda965/e4a3f/chrome-version-information.png 295w, https://codechacha.com/static/2caf8faa3a59e68b2b608da193eda965/fcda8/chrome-version-information.png 590w, https://codechacha.com/static/2caf8faa3a59e68b2b608da193eda965/f8067/chrome-version-information.png 726w" sizes="(max-width: 590px) 100vw, 590px">
						</span>
					</span>
				</a>
			</p>
		</li>
	</ul>
</div>