@page "/"
@inherits IntroBase

@if (Initialize is DateTime[])
{

	<div>
		@foreach (var kv in IsClick)
		{
			if (kv.Value && kv.Key == Initialize.Length - 1)
			{
				if (Collection is Catalog.Dart.Theme[] && Pick is Catalog.Dart.Theme pick)
				{
					<p class="image">
						<a href="/tags?index=@pick.Index&name=@System.Web.HttpUtility.UrlEncode(pick.Name)&im=@System.Web.HttpUtility.UrlEncode(User)" target="_blank">
							<img src="/Images/@(pick.Index).png" alt="@pick.Name" />
						</a>
					</p>
				}
				else
				{
					<p>
						<em>Loading...</em>
					</p>
				}
			}
		}
	</div>
	<div role="navigation">
		<table role="presentation" class="page">
			<tbody>
				<tr>
					@foreach (var kv in IsClick)
					{
						<td class="click">
							<button class="button" title="@((DateTime.UnixEpoch.Equals(Initialize[kv.Key]) ? Initialize[1] : Initialize[kv.Key]).ToLongDateString())" disabled="@kv.Value" @onclick="(e => OnClick(kv.Key, e))">
								@(DateTime.UnixEpoch.Equals(Initialize[kv.Key]) ? "Tag" : (Initialize[kv.Key].Day).ToString("D2"))
							</button>
						</td>
					}
				</tr>
			</tbody>
		</table>
	</div>
}
else
{
	<p class="image">
		<img src="/Images/456.png" alt="K-뉴딜지수" />
	</p>
}