.image
{
	text-align: center;
	font-size: small
}

.page
{
	border-collapse: collapse;
	text-align: center;
	margin: 30px auto 30px
}

.click
{
	width: auto
}

.head
{
	text-align: center
}

.name
{
	display: block;
	font-weight: bolder;
	white-space: nowrap;
	text-align: center
}

.red
{
	color: red
}

.blue
{
	color: blue
}

.middle
{
	vertical-align: middle
}

.oi_search
{
	cursor: pointer;
	color: dimgray;
	font-size: x-small
}

.overview
{
	white-space: pre-line;
	font-size: small
}

.submit_form
{
	text-align: center;
	padding: 3rem 1.5rem 5rem 1.5rem
}

.button
{
	line-height: 2.5;
	padding: 0 20px;
	font-size: 0.7rem;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border: 0.5;
	border-radius: 5px;
	background-color: rgb(5, 39, 103);
	background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0))
}

	.button:hover
	{
		background-color: rgba(255, 0, 0, 1)
	}

	.button:active
	{
		box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6)
	}

	.button:disabled
	{
		background: #ccc
	}

.search_input
{
	background-color: transparent;
	color: dimgray;
	border: 0.75px ridge;
	border-style: solid;
	border-color: azure;
	font-size: small;
	width: 20%;
	height: 25px;
	text-align: center
}

	.search_input::placeholder
	{
		color: lightgrey;
		font-style: italic
	}
