.codes, .strategics
{
	text-align: center;
	background-color: transparent;
	color: dimgray;
	border: 0.75px ridge;
	border-style: solid;
	border-color: azure;
	font-size: medium;
	height: 25px;
	margin-left: 0.5em
}

	.codes::placeholder, .strategics::placeholder
	{
		color: lightsteelblue;
		font-size: small;
		font-style: italic
	}

.title
{
	padding-left: 1rem
}

.button_remove_style
{
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset 0px -2px 3px rgba(0, 0, 0, .7);
	border-radius: 10px
}

.button_remove button
{
	line-height: 2.05;
	padding: 0 17px;
	font-size: 0.71rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	background-color: rgb(5, 37, 101);
	background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
	width: 100%
}

	.button_remove button:hover
	{
		background-color: rgba(255, 0, 0, 1)
	}

	.button_remove button:active
	{
		box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6)
	}

	.button_remove button:disabled
	{
		background: #ccc
	}


.button_style_save
{
	box-shadow: inset 0px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
	margin-left: -3px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px
}

.button_style_verify
{
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset 0px -2px 3px rgba(0, 0, 0, .6);
	margin-right: -3px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px
}

.button_style button
{
	line-height: 2.5;
	padding: 0 20px;
	font-size: 0.7rem;
	font-stretch: wider;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border: 0.5;
	background-color: rgb(5, 39, 103);
	background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
	width: 49.35%
}

	.button_style button:hover
	{
		background-color: rgba(255, 0, 0, 1)
	}

	.button_style button:active
	{
		box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6)
	}

	.button_style button:disabled
	{
		background: #ccc
	}


.flex-container
{
	justify-content: left;
	padding: 1em;
	border: 2.75px ridge;
	border-color: #d7d7d7;
	border-style: solid;
}

.legend
{
	display: block;
	padding-left: 0.75em;
	padding-right: 0.75em;
	text-align: left;
	width: auto
}

.sub
{
	color: lightslategrey;
	font-size: smaller;
	font-weight: bold;
	font-style: italic
}

.context
{
	color: gainsboro;
	font-size: small;
	font-style: italic
}

.rotation_context
{
	color: gainsboro
}

.sub_context
{
	color: slategrey;
	font-size: smaller;
	text-align: right;
	padding-top: 3px
}

.strategics_radio
{
	cursor: pointer;
	margin-left: 7px;
	vertical-align: -1px
}

.strategics_input
{
	background-color: transparent;
	color: dimgray;
	border: 0.75px ridge;
	border-style: solid;
	border-color: tan;
	font-size: small;
	width: 135px;
	height: 25px;
	text-align: end
}

	.strategics_input::placeholder
	{
		color: lightsteelblue;
		font-style: italic
	}

.strategics_table
{
	text-align: end;
	padding-right: 0.75em;
	vertical-align: middle;
	width: 15%
}

.strategics_title
{
	text-align: center;
	color: wheat;
	font-style: italic
}

.strategics_cell
{
	color: steelblue;
	font-style: italic
}

.scenario_input
{
	background-color: transparent;
	color: dimgray;
	border: 0.75px ridge;
	border-style: solid;
	border-color: tan;
	font-size: small;
	height: 25px;
	text-align: end
}

	.scenario_input::placeholder
	{
		color: lightsteelblue;
		font-style: italic
	}

.scenario_input_division
{
	width: 35%
}

.scenario_input_single
{
	width: 82.5%
}

.rotation_input_text
{
	width: 50%
}

.rotation_input_number
{
	width: 75%
}

.rotation_input_division
{
	width: 30%
}

.rotation_name
{
	white-space: nowrap
}

.search
{
	position: fixed;
	display: block;
	right: 25px;
	bottom: 41px;
}

.search_input
{
	background-color: transparent;
	color: dimgray;
	border: 0.75px ridge;
	border-style: solid;
	border-color: azure;
	font-size: small;
	width: 155px;
	height: 25px;
	text-align: center
}

	.search_input::placeholder
	{
		color: lightgrey;
		font-style: italic
	}

ul
{
	padding: 0;
	list-style-type: none
}

@media (max-width: 795px)
{
	.flex-container
	{
		justify-content: center;
		padding: 0.5em;
		border: none
	}
}
