@page "/"
@inject HttpClient http

@if (logs is Catalog.Models.Log[] && logs.Length > 0)
{
	<table class="table">
		<thead>
			<tr>
				<th>Time</th>
				<th>Message</th>
				<th>Code</th>
				<th>Screen</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var log in logs)
			{
				<tr>
					<td>@log.Time.ToLongTimeString()</td>
					<td>@log.Message</td>
					<td>@log.Code</td>
					<td>@log.Screen</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p><em>Loading...</em></p>
}
@code
{
	Catalog.Models.Log[] logs;
	protected override async Task OnInitializedAsync() => logs = await http.GetFromJsonAsync<Catalog.Models.Log[]>(Crypto.Security.GetRoute("Message"));
}