@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body
{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link
{
	color: #0366d6;
}

.btn-primary
{
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.content
{
	padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox])
{
	outline: 1px solid #26b050;
}

.invalid
{
	outline: 1px solid red;
}

.validation-message
{
	color: red;
}

#blazor-error-ui
{
	background: lightyellow;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

	#blazor-error-ui .dismiss
	{
		cursor: pointer;
		position: absolute;
		right: 0.75rem;
		top: 0.5rem;
	}

#loader
{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite
}

@-webkit-keyframes spin
{
	0%
	{
		-webkit-transform: rotate(0deg)
	}

	100%
	{
		-webkit-transform: rotate(360deg)
	}
}

@keyframes spin
{
	0%
	{
		transform: rotate(0deg)
	}

	100%
	{
		transform: rotate(360deg)
	}
}
