@inherits LoginDisplayBase

<AuthorizeView>
	<Authorized>
		<a href="authentication/profile">
			<strong>
				@context.User.Identity.Name
			</strong>
		</a>
		<button class="nav-link btn btn-link" @onclick="BeginSignOut">LogOut</button>
	</Authorized>
	<NotAuthorized>
		&nbsp;
		&nbsp;
		Various functions are available after
		<a style="margin-left: 0.35em" href="authentication/login">
			<strong>
				LogIn
			</strong>
		</a>
		.
	</NotAuthorized>
</AuthorizeView>