@inherits MainLayoutBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<div class="main">
		<div class="top-row px-4">
			@if (string.IsNullOrEmpty(Message))
			{

			}
			else
			{
				<span>@Message</span>
			}
			<a href="https://sharecompany.tistory.com/46" target="_blank" class="ml-md-auto">이용약관</a>
			<LoginDisplay />
		</div>

		<div class="content px-4">
			@Body
		</div>
	</div>
</div>