@inherits NavMenuBase

<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">Algorithmic Trading</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon" />
	</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-comment-square" aria-hidden="true" /> Intro
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="account">
				<span class="oi oi-account-login" aria-hidden="true" /> Account
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="portfolio">
				<span class="oi oi-pie-chart" aria-hidden="true" /> Portfolio
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="balance">
				<span class="oi oi-list-rich" aria-hidden="true" /> Balance
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="index">
				<span class="oi oi-action-redo" aria-hidden="true" /> Log
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="theme">
				<span class="oi oi-fire" aria-hidden="true" /> Theme
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="consensus">
				<span class="oi oi-project" aria-hidden="true" /> Consensus
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="chat">
				<span class="oi oi-chat" aria-hidden="true" /> Chat
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="download">
				<span class="oi oi-cloud-download" aria-hidden="true" /> Download
			</NavLink>
		</li>
	</ul>
</div>